{% extends 'base.html.twig' %}

{% block title %}Questions N4{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            font-family: 'Roboto', sans-serif; /* Utilisation de la police Roboto */
            background-color: #f0f0f0;
            padding: 20px;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @media(min-width: 500px) {
            body {
                font-size: 1.75em;
            }
            #btn_next.button, #btn_end.button {
                font-size: 1.25em;
                width: 20em;
            }
            
            .panel .toggleButton {
               padding: 30px 40px;
               font-size: 1.25em;
            }
        }
        h1 {
            color: #333;
            text-align: center;
        }
        .button-container {
            text-align: center;
            margin-top: 20px;
        }
        .button {
            display: block;
            width: 300px;
            padding: 20px;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-bottom: 10px;
            text-decoration: none;
            text-align: center;
        }
        .button:hover {
            background-color: #0056b3;
        }
        /* Nouveau style pour le contenu des questions */
        .question-content {
            margin-top: 20px;
            padding: 10px;
            color: #007bff;
            font-weight: bold;
        }
        /* Style pour les listes à puce */
        .question-content ul {
            margin: 0;
            padding-left: 20px;
            text-align: left;
        }
        .question-content ul li {
            margin-bottom: 10px;
            /* Autres styles... */
        }

.question-content ul ul {
    margin-top: 0;
    padding-left: 20px;
    list-style-type: none; /* Supprimer les puces */
}

.question-content ul ul li {
    margin-bottom: 5px;
    position: relative;
    padding-left: 30px; /* Ajouter de l'espace pour les puces */
}

.question-content ul ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #007bff; /* Couleur des puces */
}

        /* Style du bouton "Afficher/Masquer" */
        .toggleButton {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            background-color: red;
            color: #fff;
            border: 2px solid red; /* Bordure */
            border-radius: 50%; /* Bordure arrondie pour créer un bouton rond */
            cursor: pointer;
            transition: background-color 0.3s;
            margin-top: 10px;
            text-decoration: none;
        }
        .toggleButton:hover {
            background-color: lightcoral;
            border: 2px solid lightcoral;
        }
        .toggleButton::after {
            content: "?"; /* Contenu du bouton "Afficher/Masquer" */
        }
        .panel {
            margin-bottom: 20px;
        }
        .link {
            margin-top: 20px;
            font-size: 12px;
            color: black;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="button-container">
        {% for key, question in serie %}
            {% set key = key + 1  %}
            <div class="panel" id="panel_{{ key }}"{% if key != 1 %} style="display:none" {% endif %}>
                <h1>Question {{ key }}/10</h1>
                {% if question.label starts with 'http://' or your_variable starts with 'https://' %}
                       <img style="text-align: center" src="{{ question.label }}" />
                {% else %}
                    <h2>{{ question.label }}</h2>
                {% endif %}
                
                <button class="toggleButton" data-role="content_{{ key }}"></button>
                <div class="question-content" id="content_{{ key }}" style="display: none;">
                    {{ question.answer | raw }}
                    <a class="link" target="_blank" href="{{ path('admin_question_edit',  {'id':  question.id }) }}">La réponse est mauvaise/incomplète</a>
                </div>

            </div>
        {% endfor %}
        <a href="#" id="btn_next" class="button next" style="margin: auto;">Question suivante</a>
        <a href="{{ path('home') }}" id="btn_end" class="button next" style="margin: auto; display:none">Fin</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".toggleButton").click(function() {
                var content = $(this).data("role");
                var element = $('#' + content);
                element.toggle();
            });
            $(".next").click(function() {
                var toggle = false;
                for (var i = 1; i <= 10; i++) {
                    var element = $('#panel_' + i);
                    if (element.is(":visible")) {
                        toggle = true;
                        element.hide();
                    } else if (element.is(":hidden") && toggle) {
                        element.show();
                        toggle = false;
                        if (i == 10) {
                            $('#btn_next').hide();
                            $('#btn_end').show();
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}
